{% extends "layout.html" %}
 {% block title %}Videography{% endblock %}
 {% block content %}

 <!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>SPIS 2023 Final Project</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
  <!--   Bootstrap -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap" rel="stylesheet">
  <style>
    #container {
      margin: 0px auto;
      width: 520px;
      height: 395px;
      border: 10px darkgray solid;
      background-color: #d3cfca;
    }

    #videoElement {
      width: 500px;
      height: 375px;
      background-color: gray;
    }
  </style>
</head>

<body style="background-color: #d3cfca;">

    <!--   Navbar & Button Code -->
    <div>
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #6f8289;">
        <a class="navbar-brand" href="/"
          style="font-size: 3em; font-family: Bebas Neue, sans-serif; font-weight: bold; color: white; margin-bottom: -12px;">&nbsp;&nbsp;
          ShoeSherlock</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/" style="color: white;font-family: Oswald;font-size: 20px;">Home <span class="sr-only">(current)</span></a>
            </li>
            <a class="nav-link" href="/upload" style="color: white;font-family: Oswald;font-size: 20px;">Picture</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: white;font-family: Oswald;font-size: 20px;">Video</a>
            </li>
          </ul>
        </div>
      </nav>
      <!-- Github Button Code -->
      <div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
          integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
          crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
          integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
          crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
          integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
          crossorigin="anonymous"></script>
      </div>
    </div>

  <h1>Display Webcam Stream</h1>
  <div id="container">
    <video autoplay="true" id="videoElement">

    </video>
  </div>

  <script>
    let video = document.querySelector("#videoElement");

    if (navigator.mediaDevices.getUserMedia) {
      navigator.mediaDevices.getUserMedia({video: true})
        .then(function (stream) {
          video.srcObject = stream;
        })
        .catch(function (error) {
          console.log("Something went wrong!");
        })
    } else {
      console.log("getUserMedia not supported!");
    }
  </script>
</body>

</html>

 {% endblock %}